<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <!-- <img src="assets/images/aircraftimage.png" alt="" height="100" width="200" style="padding: 30px 10px 10px 10px !important;">  -->
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/fav.icon.2.png" alt="" height="50" width="50"
              style="padding: 20px 10px 0px 10px !important;">
          </span>
          <span class="logo-lg">
            <img src="assets/images/Innologiclogo.webp" alt="" height="50" width="200"
              style="padding: 0px 10px 0px 10px !important;">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/innologicslogo_sm.jpg" alt="" height="50" width="50"
              style="padding: 20px 10px 0px 10px !important;">
          </span>
          <span class="logo-lg">
            <img src="assets/images/Innologiclogo.webp" alt="" height="50" width="200"
              style="padding: 0px 10px 0px 10px !important;">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 mt-3 font-size-16 header-item"
        [ngClass]="{ 'd-none': theme === 'horizontal' }" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>



    </div>
    <div class="marquee-wrapper">
      <div class="marquee-content text-white">
        Welcome to Innologic Technologies
      </div>
    </div>

    <!-- 
    <div class="d-flex" style="padding-left: 10px !important;">

      <div class="mt-4 text-white  text-nowrap">
        Welcome : {{loginData?.data.employeeFirstName}} <span
          class="ml-2">{{loginData?.data.employeeLastName}}({{loginData?.data.employeeID}})</span>
      </div>
      <div class="mt-2">
        <img [src]="userProfileImage || defaultUserIcon" (error)="onImageError($event)" alt="User Profile"
          class="user-profile-img" />
      </div>
      <div class="dropdown d-inline-block d-lg-none ms-2" dropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" dropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" *dropdownMenu
          aria-labelledby="page-header-search-dropdown">
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="m-2 mt-4" style="font-size: 16px;">
        <div class="position-relative">
          <i class="fas fa-bell fa-lg text-white" role="button" (click)="openNotificationPop()"></i>
          <span *ngIf="notificationCount > 0"
            class="badge rounded-pill position-absolute top-0 start-100 translate-middle"
            style="background-color: #ea0000;">
            {{ notificationCount }}
          </span>
        </div>

      </div>
      <div class="dropdown d-inline-block">
       
      </div>
      <div class="d-inline-block mt-3" style="position: relative;margin-left: 10px;">
        <button type="button" class="btn btn-raised cancelBtn" (click)="toggleLogoutDropdown()">
          <i class="bx bx-power-off font-size-16 align-middle me-1"></i>
        
        </button>

        <div *ngIf="isLogoutDropdownOpen" class="dropdown-menu show"
          style="position: absolute; right: 0; background: white; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); z-index: 1000;">

          <a class="dropdown-item" (click)="openResetPasswordModal()" role="button">
            <i class="bx bx-reset font-size-16 align-middle me-1" style="font-size: 15px;"></i>
            Reset Password
          </a>
          <a class="dropdown-item" (click)="logout()" role="button">
            <i class="fas fa-sign-in-alt" style="transform: scaleX(-1); margin-right: 5px;font-size: 15px;"></i>

            {{ 'HEADER.LOGIN.LOGOUT' | translate }}
          </a>
        </div>
      </div>



    </div> -->

    <div class="header-container">
      <!-- Welcome Text -->
      <div class="welcome-section">
        <span class="welcome-text">
          Welcome: {{ loginData?.data.employeeFirstName }}
          <span class="user-info">
            {{ loginData?.data.employeeLastName }} ({{ loginData?.data.employeeID }})
          </span>
        </span>
      </div>

      <!-- User Profile Image -->
      <div class="profile-section">
        <img [src]="userProfileImage || defaultUserIcon" (error)="onImageError($event)" alt="User Profile"
          class="profile-img" />
      </div>

      

      <!-- Notification Icon -->
      <div class="notification-section">
        <div class="notification-icon" (click)="openNotificationPop()">
          <i class="fas fa-bell"></i>
          <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
        </div>
      </div>

      <!-- Logout Dropdown -->
      <div class="logout-section">
        <button class="logout-btn" (click)="toggleLogoutDropdown()">
          <i class="bx bx-power-off"></i>
        </button>
        <div *ngIf="isLogoutDropdownOpen" class="logout-menu">
          <a class="logout-item" (click)="openResetPasswordModal()" role="button">
            <i class="bx bx-reset"></i> Reset Password
          </a>
          <a class="logout-item" (click)="logout()" role="button">
            <i class="fas fa-sign-in-alt logout-icon"></i> {{ 'HEADER.LOGIN.LOGOUT' | translate }}
          </a>
        </div>
      </div>
    </div>






    <div *ngIf="isResetPasswordModalOpen" class="modal" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
      <form [formGroup]="resetPassword">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reset Password</h5>
              <button type="button" class="close" (click)="closeResetPasswordModal()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="userName">
              </div>
              <div class="form-group">
                <label for="currentPassword">Current Password<span class="text-danger">*</span></label>
                <div class="input-group auth-pass-inputgroup">
                  <input [type]="currentPasswordFieldTextType ? 'text' : 'password'"
                    class="form-control form-control-sm" autocomplete="new-password" formControlName="currentPassword"
                    placeholder="Enter Current Password"
                    [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
                  <button class="btn btn-light ms-0" type="button" (click)="toggleCurrentPasswordFieldTextType()">
                    <i class="mdi mdi-eye-outline"
                      [ngClass]="{ 'mdi-eye-off-outline': !currentPasswordFieldTextType, 'mdi-eye-outline': currentPasswordFieldTextType }"></i>
                  </button>
                </div>
                <div class="text-danger" *ngIf="submitted && f['currentPassword'].errors">
                  Current Password is required.
                </div>
              </div>

              <div class="form-group">
                <label for="newPassword">New Password<span class="text-danger">*</span></label>
                <div class="input-group auth-pass-inputgroup">
                  <input [type]="newPasswordFieldTextType ? 'text' : 'password'" class="form-control form-control-sm"
                    formControlName="newPassword" placeholder="Enter New Password"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" autocomplete="new-password" />
                  <button class="btn btn-light ms-0" type="button" (click)="toggleNewPasswordFieldTextType()">
                    <i class="mdi mdi-eye-outline"
                      [ngClass]="{ 'mdi-eye-off-outline': !newPasswordFieldTextType, 'mdi-eye-outline': newPasswordFieldTextType }"></i>
                  </button>
                </div>
                <div class="text-danger" *ngIf="submitted && f['newPassword'].errors?.['required']">
                  New Password is required.
                </div>
                <div class="text-danger" *ngIf="submitted && f['newPassword'].errors?.['minlength']">
                  New Password must be at least 8 characters.
                </div>
                <div class="text-danger" *ngIf="submitted && f['newPassword'].errors?.['pattern']">
                  New Password must contain at least one uppercase letter, one lowercase letter, one number, and one
                  special character.
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                <div class="input-group auth-pass-inputgroup">
                  <input [type]="confirmFieldTextType ? 'text' : 'password'" class="form-control form-control-sm"
                    formControlName="confirmPassword" placeholder="Enter Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" autocomplete="new-password" />
                  <button class="btn btn-light ms-0" type="button" (click)="toggleConfirmFieldTextType()">
                    <i class="mdi mdi-eye-outline"
                      [ngClass]="{ 'mdi-eye-off-outline': !confirmFieldTextType, 'mdi-eye-outline': confirmFieldTextType }"></i>
                  </button>
                </div>
                <div class="text-danger" *ngIf="submitted && f['confirmPassword'].errors?.['required']">
                  Confirm password is required.
                </div>
                <div class="text-danger" *ngIf="f.confirmPassword?.hasError('mustMatch')">
                  Password and Confirm Password do not match.
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="resetpasswordSave()">Reset Password</button>
                <button type="button" class="btn btn-secondary" (click)="closeResetPasswordModal()">Cancel</button>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>

<ng-template #notificationPopAdmin let-modal>
  <div class="modal-header">
    Pending Corrections
  </div>

  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-nowrap">Invoice Number</th>
            <th class="text-nowrap">Invoice Date</th>
            <th class="text-nowrap">Customer Name</th>
            <th class="text-nowrap">Type Of Aircraft</th>
            <th class="text-nowrap">City</th>
            <th class="text-nowrap">Destination</th>
            <th class="text-nowrap">Date Of Journey</th>
            <th class="text-nowrap">Total Amount</th>
            <th class="text-nowrap">Description</th>
            <th class="text-nowrap">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of reviewedNotificationList" (click)="openGlobalReviewPopup(invoice)">
            <td>{{ invoice.invoiceUniqueNumber }}</td>
            <td>{{ invoice.header.ProformaInvoiceDate }}</td>
            <td>{{ invoice.header.ProformaCustomerName }}</td>
            <td>{{ invoice.header.ProformaTypeOfAircraft }}</td>
            <td>{{ invoice.header.ProformaCity }}</td>
            <td>{{ invoice.header.BookingSector }}</td>
            <td class="text-nowrap">{{ invoice.header.startBookingDateOfJourny }}/{{
              invoice.header.endBookingDateOfJourny }}</td>
            <td>{{ invoice.grandTotal | number: '1.2-2'}}</td>
            <td>{{ invoice.reviewedDescription }} ({{ invoice.reviewedDate }})</td>
            <td><i class="fa fa-check-circle text-success" style="font-size: 20px;" role="button"
                (click)="verifyedInvoice(invoice)"></i></td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeInvoice()">Close</button>
  </div>


</ng-template>

<ng-template #notificationPopMD let-modal>
  <div class="modal-header">
    <!-- Admin Update Completed -->
    Resolved Corrections
  </div>

  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-nowrap">Invoice Number</th>
            <th class="text-nowrap">Invoice Date</th>
            <th class="text-nowrap">Customer Name</th>
            <th class="text-nowrap">Type Of Aircraft</th>
            <th class="text-nowrap">City</th>
            <th class="text-nowrap">Destination</th>
            <th class="text-nowrap">Date Of Journey</th>
            <th class="text-nowrap">Total Amount</th>
            <th class="text-nowrap">Description</th>
            <th class="text-nowrap">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of reviewedNotificationList">
            <td>{{ invoice.invoiceUniqueNumber }}</td>
            <td>{{ invoice.header.ProformaInvoiceDate }}</td>
            <td>{{ invoice.header.ProformaCustomerName }}</td>
            <td>{{ invoice.header.ProformaTypeOfAircraft }}</td>
            <td>{{ invoice.header.ProformaCity }}</td>
            <td>{{ invoice.header.BookingSector }}</td>
            <td class="text-nowrap">{{ invoice.header.startBookingDateOfJourny }}/{{
              invoice.header.endBookingDateOfJourny }}</td>
            <td>{{ invoice.grandTotal | number: '1.2-2'}}</td>
            <td>{{ invoice.reviewedDescription }} ({{ invoice.reviewedDate }})</td>
            <td class="text-success">{{invoice.reviewedReSubmited == true?'Modifications Completed – Awaiting Your
              Decision':''}}</td>
            <!-- <td><i class="fa fa-check-circle text-success" style="font-size: 20px;" role="button" (click)="verifyedInvoice(invoice)"></i></td> -->

          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeInvoice()">Close</button>
  </div>


</ng-template>


<ng-template>
  <app-global-review-edit [childMessage]="parentMessage"
    (messageEvent)="receiveMessage(invoice)"></app-global-review-edit>
</ng-template>