<!-- <div class="card-header">
    Tickets List
</div>


<div class="mb-3 d-flex justify-content-between">
    <input type="text" class=" w-15" style="margin-top: 1rem;" placeholder="Search..." [(ngModel)]="searchText" />
</div>

<div class="table-responsive tableFixHead">
    <table class="table table-bordered table-hover bg-white">
        <thead class="table-dark text-center">
            <tr>
                <th (click)="setSort('customerticketId')" style="cursor:pointer">
                    Ticket Id
                </th>
                <th (click)="setSort('title')" style="cursor:pointer">Title</th>
                <th (click)="setSort('priority')" style="cursor:pointer">Priority</th>
                <th (click)="setSort('status')" style="cursor:pointer">Status</th>
                <th (click)="setSort('date')" style="cursor:pointer">Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
          let ticket of sortedTickets
            | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }
        " class="align-middle">
                <td>{{ ticket.customerticketId }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.priority }}

                </td>
                <td>

                    {{ ticket.status }}

                </td>
                <td>{{ ticket.date | date: 'dd-MM-yyyy' }}</td>
                <td class="text-center">
                    
                    <button class="btn btn-sm btn-info me-2" (click)="editTicketModel(ticket, createBugTicketTemplate)">
                        View
                    </button>

                   
                </td>


            </tr>
        </tbody>
    </table>
</div>


<div class="d-flex justify-content-end mt-3">
    <pagination-controls (pageChange)="currentPage = $event"
        class="pagination justify-content-end"></pagination-controls>
</div> -->

<div class="card">
    <h2 class="card-header">My Assigned Tickets</h2>


</div>
<div class="card1">
    <div class="row">
        <!-- In Progress Tickets -->
        <div class="col-md-3 mb-4">
            <h4 class="section-title">In Progress</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of inProgressTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-open">In Progress</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- Hold Tickets -->
        <div class="col-md-3 mb-4">
            <h4 class="section-title">Hold Tickets</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of holdTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">assigned:{{ ticket.description }}</p>
                     <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-hold">Hold</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- UAT Tickets -->
        <div class="col-md-3 mb-4">
            <h4 class="section-title">UAT Tickets</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of uatTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-uat">UAT</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- Resolved Tickets -->
        <div class="col-md-3 mb-4">
            <h4 class="section-title">Resolved</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of resolvedTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-resolved">Resolved</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editTicketTemplate let-c="close">
    <div class="modal-body">
        <form [formGroup]="bugTicketForm" autocomplete="off">
            <div class="row">


                <div class="col-md-6">
                    <label>Title</label>
                    <input class="form-control" formControlName="title" type="text" readonly />
                </div>


                <div class="col-md-6">
                    <label>Reported By</label>
                    <input class="form-control" formControlName="reportedBy" type="text" readonly />
                </div>


                <div class="col-md-6">
                    <label>Priority</label>
                    <select class="form-control" formControlName="priority"  [disabled]="true">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Critical">Critical</option>
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Environment</label>
                    <select class="form-control" formControlName="environment" [disabled]="true">
                        <option value="Development">Development</option>
                        <option value="Quality">Quality</option>
                        <option value="Production">Production</option>
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Status</label>
                    <select class="form-control" formControlName="ticketstatus" >
                           <option  [value]=""></option>
                        <option *ngFor="let status of allStatus" [value]="status.status">{{status.label}}</option>
                    
                        
                        <!-- <option value="InProgress">In Progress</option>
                        <option value="hold">Hold</option>
                        <option value="UAT">UAT</option>
                        <option value="resolved">Resolved</option>
                        <option value="Closed">Closed</option> -->
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Date</label>
                    <input class="form-control" formControlName="date" type="date" readonly />
                </div>


                <div class="col-md-12">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" rows="4"
                        [readonly]="true"></textarea>
                </div>

                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="form-control" formControlName="remarks" rows="4"
                        ></textarea>
                </div>

<!-- 
                <div class="col-md-12">
                    <label>Assigned To<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="assignedTo">
                        <option value="" disabled selected hidden>Select Assignee</option>
                        <option *ngFor="let user of userList" [value]="user.userName">
                            {{ user.userName }}
                        </option>
                    </select>
                </div> -->

                       <div *ngIf="!isEditMode" class="col-md-12">
                    <label>Attachments</label>
                    <input class="form-control" formControlName="attachments" type="file" [readonly]="isViewMode" accept=".pdf"
                        (change)="onFileSelected($event,'attachments')" />
                </div> 

<div class="col-md-12" *ngIf="isEditMode">
                    <label>Attachment</label><br>
                    
                    <div *ngIf="selectedTicket?.attachment?.contentType === 'application/pdf'; else uploadNew">
                        <div class="pdf-preview" (click)="viewPdf(selectedTicket.attachment)">
                            <i class="fa fa-file-pdf-o pdf-icon"></i>
                            <span>{{ selectedTicket.attachment.filename }}</span>
                        </div>
                        <span class="remove-icon" (click)="removeAttachment()">&times;</span>
                    </div>

                    <ng-template #uploadNew>
                        <input type="file" class="form-control" formControlName="attachments" 
                            [readonly]="isViewMode" accept=".pdf"
                            (change)="onFileSelected($event, 'attachments')" />
                    </ng-template>
                </div>



                <!-- Overlay -->
                <div class="fullscreen-image" *ngIf="isImageFullScreen" (click)="closeFullImage()">
                    <img [src]="selectedImageUrl" [alt]="selectedTicket?.attachment?.filename">
                </div>


              

            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="UpdateTicket()" >Update</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>