

<div class="card">
    <h2 class="card-header">My Assigned Tickets</h2>


</div>
<div class="card1">
  <div class="ticket-scroll-container">
    <div class="ticket-row d-flex flex-nowrap">
        <!-- <div class="row gx-3 gy-4"> -->
         <!-- assigned Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">Assigned</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of assignedTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-resolved">Assigned</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>


        <!-- In Progress Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">In Progress</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of inProgressTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-open">In Progress</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- Hold Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">Hold Tickets</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of holdTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">assigned:{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-hold">Hold</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- UAT Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">UAT Tickets</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of uatTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-uat">UAT</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- Resolved Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">Resolved</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of resolvedTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-resolved">Resolved</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>

        <!-- closed Tickets -->
        <!-- <div class="col-md-3  mr-4"> -->
            <div class="col-lg-3 col-md-3 col-sm-12   mr-4">

            <h4 class="section-title">Closed</h4>
            <div class="custom-line"></div> <!-- Black line -->

            <div *ngFor="let ticket of completedTickets" class="card ticket-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}<small style="float: right;"
                            [ngStyle]="{ color: ticket.priority === 'High' ? 'red' : ticket.priority === 'Medium' ? 'orange' : 'green' }">{{ticket.priority}}
                        </small></h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p class="card-text">assigned:{{ ticket.assignedDays }}</p>
                    <div class="ticket-footer">
                        <span class="badge badge-resolved">Closed</span>
                        <a href="javascript:void(0)" class="view-link"
                            (click)="openTicketModal(ticket, editTicketTemplate)">View</a>


                    </div>
                </div>
            </div>
        </div>


      


    </div>   
    </div>
</div>

<ng-template #editTicketTemplate let-c="close">
    <div class="modal-body">
        <form [formGroup]="bugTicketForm" autocomplete="off">
            <div class="row">


                <div class="col-md-6">
                    <label>Title</label>
                    <input class="form-control" formControlName="title" type="text" readonly [readonly]="isUATViewMode" />
                </div>


                <div class="col-md-6">
                    <label>Reported By</label>
                    <input class="form-control" formControlName="reportedBy" type="text" readonly  [readonly]="isUATViewMode"/>
                </div>


                <div class="col-md-6">
                    <label>Priority</label>
                    <select class="form-control" formControlName="priority" [disabled]="true" [disabled]="isUATViewMode">
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Critical">Critical</option>
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Environment</label>
                    <select class="form-control" formControlName="environment" [disabled]="true" [disabled]="isUATViewMode">
                        <option value="Development">Development</option>
                        <option value="Quality">Quality</option>
                        <option value="Production">Production</option>
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Status</label>
                    <select class="form-control" formControlName="ticketstatus" [disabled]="isUATViewMode">
                        <option [value]=""></option>
                        <option *ngFor="let status of allStatus" [value]="status.status">{{status.label}}</option>


                        <!-- <option value="InProgress">In Progress</option>
                        <option value="hold">Hold</option>
                        <option value="UAT">UAT</option>
                        <option value="resolved">Resolved</option>
                        <option value="Closed">Closed</option> -->
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Date</label>
                    <input class="form-control" formControlName="date" type="date" readonly [readonly]="isUATViewMode" />
                </div>


                <div class="col-md-12">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="description" rows="4" [readonly]="true" [readonly]="isUATViewMode"></textarea>
                </div>

                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="form-control" formControlName="remarks" rows="4" [readonly]="isUATViewMode"></textarea>
                </div>

                <!-- 
                <div class="col-md-12">
                    <label>Assigned To<span class="text-danger">*</span></label>
                    <select class="form-control" formControlName="assignedTo">
                        <option value="" disabled selected hidden>Select Assignee</option>
                        <option *ngFor="let user of userList" [value]="user.userName">
                            {{ user.userName }}
                        </option>
                    </select>
                </div> -->

               


                <!-- Attachment (Edit mode only) -->
                <div class="col-md-12" *ngIf="!isEditMode">
                    <label>Attachment</label><br>

                    <!-- Show existing PDF preview if available and not removed -->
                    <div
                        *ngIf="selectedTicket?.attachment?.contentType === 'application/pdf' && !attachmentRemoved; else uploadNew">
                        <div class="pdf-preview" (click)="viewPdf(selectedTicket.attachment)">
                            <i class="fa fa-file-pdf-o pdf-icon"></i>
                            <span>{{ selectedTicket.attachment.filename }}</span>
                        </div>
                        <!-- <span class="remove-icon" (click)="removeAttachment()">&times;</span> -->
                    </div>

                   
                </div>

                <!-- PDF Fullscreen Viewer -->
                <div class="fullscreen-overlay" *ngIf="isPdfFullScreen" (click)="closeFullPdf()">
                    <div class="fullscreen-pdf" (click)="$event.stopPropagation()">
                        <iframe [src]="selectedPdfUrl" width="100%" height="100%"></iframe>
                        <button class="close-btn" (click)="closeFullPdf()">✖</button>
                    </div>
                </div>

                <!-- Upload (Edit mode only) -->
                <div class="col-md-12" *ngIf="!isEditMode">
                    <label>Upload</label><br>

                    <!-- Show existing PDF preview if available and not removed -->
                    <div
                        *ngIf="selectedTicket?.upload?.contentType === 'application/pdf' && !attachmentRemoved">
                        <div class="pdf-preview" (click)="viewPdf(selectedTicket.upload)">
                            <i class="fa fa-file-pdf-o pdf-icon"></i>
                            <span>{{ selectedTicket.upload.filename }}</span>
                        </div>
                        <!-- <span class="remove-icon" (click)="removeAttachment()">&times;</span> -->
                    </div>

                    
                </div>

                 <!-- PDF Fullscreen Viewer -->
                <div class="fullscreen-overlay" *ngIf="isPdfFullScreen" (click)="closeFullPdf()">
                    <div class="fullscreen-pdf" (click)="$event.stopPropagation()">
                        <iframe [src]="selectedPdfUrl" width="100%" height="100%"></iframe>
                        <button class="close-btn" (click)="closeFullPdf()">✖</button>
                    </div>
                </div>

                
                <!-- <div *ngIf="!isEditMode" class="col-md-12">
                    <label>upload2</label>
                    <input class="form-control" formControlName="upload2" type="file" [readonly]="isViewMode"
                        accept=".pdf" (change)="onFileSelected($event,'upload2')" />
                </div> -->

                 <!-- Upload2 (Edit mode only) -->
                <div class="col-md-12" *ngIf="!isEditMode">
                    <label>Upload2</label><br>

                    <!-- Show existing PDF preview if available and not removed -->
                    <div
                        *ngIf="selectedTicket?.upload2?.contentType === 'application/pdf' && selectedTicket?.upload2?.data; else uploadNew">
                        <div class="pdf-preview" (click)="viewPdf(selectedTicket.upload2)">
                            <i class="fa fa-file-pdf-o pdf-icon"></i>
                            <span>{{ selectedTicket.upload2.filename }}</span>
                        </div>
                        <span class="remove-icon" (click)="removeAttachment()">&times;</span>
                    </div>

                    <!-- File input for uploading a new attachment (shown after removing) -->
                    <ng-template #uploadNew>
                        <input type="file" class="form-control" formControlName="upload2"
                            accept=".pdf" (change)="onFileSelected($event, 'upload2')" />
                    </ng-template>
                </div>

                <!-- PDF Fullscreen Viewer -->
                <div class="fullscreen-overlay" *ngIf="isPdfFullScreen" (click)="closeFullPdf()">
                    <div class="fullscreen-pdf" (click)="$event.stopPropagation()">
                        <iframe [src]="selectedPdfUrl" width="100%" height="100%"></iframe>
                        <button class="close-btn" (click)="closeFullPdf()">✖</button>
                    </div>
                </div>




            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="UpdateTicket()" *ngIf="!isUATViewMode">Update</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>